# =========================
# GameMaker Studio
# =========================
# Ignorar carpetas de compilación y caché
*/.vs/
*/options/
*/bin/
*/obj/
*.lock
*.manifest
*.yyz

#Game Maker Cache and Outputs
config/
cache/
export/
*.win
*.exe
*.app

#User Especific Layout Settings
local_settings.json

# Ignorar archivos temporales del usuario y configuración local
*/localapps.json
*/layout_*.xml
*/custom_keybinds.json
*.yyp.converted

# =========================
# Sistemas Operativos
# =========================
# Linux
*~
.directory

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride
